ion-card {
    margin: 0;
    box-shadow: none;
    background: var(--ion-color-light);
    min-height: calc(100% - 2rem);
    
    ion-card-header {
      padding: 16px;
      
      ion-card-subtitle {
        font-size: 0.9rem;
        color: var(--ion-color-medium);
      }
      
      ion-card-title {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--ion-color-dark);
      }
    }
    
    ion-card-content {
      padding: 16px;
      
      p {
        margin-bottom: 1rem;
        line-height: 1.6;
        font-size: 1rem;
        color: var(--ion-color-dark);
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
