<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@if (selectedMessage$ | async; as selectedMessage) {
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon aria-hidden="true" name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ selectedMessage.dateLocation }}
      </h2>
    </ion-label>
  </ion-item>
  <div class="ion-padding">
    <h1>{{ selectedMessage.link }}</h1>
    <p>
      {{selectedMessage.paragraphs}}
    </p>
  </div>
</ion-content>
}