<ion-header [translucent]="true">
  <ion-toolbar>
<ion-title>
  Prophecy
</ion-title>
  </ion-toolbar>
</ion-header>

@if (selectedMessage$ | async; as selectedMessage) {
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{ selectedMessage.date | date: 'EEEE, MMMM d, y' }}
      </ion-card-subtitle>
      <ion-card-title>
        {{selectedMessage.location}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{selectedMessage.paragraphs}}
      </p>
    </ion-card-content>
    <!-- <a href="selectedMessage.link">Link to House of Destiny</a> -->
  </ion-card>
</ion-content>
}