.message {
  cursor: pointer;
  --ion-item-background: var(--ion-color-light-shade); 
}

.message:hover {
  --background: var(--ion-color-light);
}

.selected {
  --ion-item-background: var(--ion-color-light-tint); 
}