<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kim Clement's Prophecies
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Kim Clement's Prophecies
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">
        <ion-content class="messages-list-container">
          <ion-list class="messages-list">
            <ion-list-header>
              <ion-button (click)="toggleSort()">
                Sort {{ sortDescending ? 'Ascending' : 'Descending' }}
              </ion-button>
            </ion-list-header>
            @if(sortedMessages$){
            @for (message of sortedMessages$ | async; track message.id) {
            <app-message [message]="message" f></app-message>
            }
            }
            @else {
            <ion-item>
              <ion-spinner></ion-spinner>
            </ion-item>
            }
          </ion-list>
        </ion-content>
      </ion-col>
      @if(desktop){
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" size-xl="8">
        <app-view-message></app-view-message>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>