<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kim Clement's Prophecies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-wrap">
        Kim Clement's Prophecies
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12"  size-md="4">
        <div class="list-container">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="toggleSort()" fill="clear" color="secondary" class="two-line-button">
                Sort
                <ion-icon color="primary" name="caret-up" [class.rotate]="sortDescending"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button fill="clear" color="secondary" (click)="toggleFavoritesFilter()">
                Show <br> {{ favoritesFilterSet ? 'all' : 'favorites' }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <div class="messages-list-container">
            @if(!favorites$ && !sortedMessages$){
              <ion-spinner></ion-spinner>
            }
            <ion-list class="messages-list"> 
              @if(favoritesFilterSet){
                @for (message of favorites$ | async; track message.id) {
                  <app-message [message]="message"></app-message>
                }
              }@else{
                @if(sortedMessages$){
                  @for (message of sortedMessages$ | async; track message.id) {
                    <app-message [message]="message"></app-message>
                  }
                }
              }
            </ion-list>
          </div>
        </div>
      </ion-col>

      @if(desktop){
        <ion-col size="12"  size-md="8">
          <app-view-message></app-view-message>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>