<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kim Clement's Prophecies
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-wrap">
        Kim Clement's Prophecies
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="toggleSort()" fill="clear" color="secondary" expand="block">


              Sort <br>{{ sortDescending ? 'Ascending' : 'Descending' }}

            </ion-button>

          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="toggleFilter(favorite = !favorite)" fill="clear" color="secondary" expand="block">


              Filter <br> {{ favorite ? 'favorite' : 'all' }}

            </ion-button>

          </ion-buttons>
        </ion-toolbar>

        <ion-content class="messages-list-container">
          <ion-list class="messages-list">
            @if(sortedMessages$){
            @for (message of sortedMessages$ | async; track message.id) {
            <app-message [message]="message" f></app-message>
            }
            }
            @else {
            <ion-item>
              <ion-spinner></ion-spinner>
            </ion-item>
            }
          </ion-list>
        </ion-content>
      </ion-col>
      @if(desktop){
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" size-xl="8">
        <app-view-message></app-view-message>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>